################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/FamilyChatPlanner/.vs/FamilyChatPlanner/DesignTimeBuild/.dtbcache
/FamilyChatPlanner/.vs/FamilyChatPlanner/v15/Server/sqlite3
