################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/source/repos/GroupPlannerChat/FamilyChatPlanner/.vs/FamilyChatPlanner/DesignTimeBuild/.dtbcache
/source/repos/GroupPlannerChat/FamilyChatPlanner/.vs/FamilyChatPlanner/v15/Server/sqlite3
